<h1 class="post-title">Comments</h1>
<mat-card *ngFor="let comment of comments">
    <div class="card-div">
        <!-- <b>No :</b> {{comment.id}}<br> -->
        <!-- <b>Name :</b> {{comment.name}}<br> -->
        <b>Email :</b> {{comment.email}}<br>
        <b>comment :</b> {{comment.body}}<br>
        <mat-card-actions>
            <button (click)="editUser(comment.id)" mat-button color="primary">Edit</button>
            <button (click)="deleteUser(comment.id)" mat-button color="warn">Delete</button>
          </mat-card-actions>
    </div>
</mat-card>